{% extends "OFortPrerentreeBundle::layout.html.twig" %}
{% block title %}
	Liste des structures - {{ parent() }}
{% endblock %}
{% block ofortprerentree_body %}
	{% block head %}{{struct.nom}} <span class="small">structure</span>{% endblock %}
	<div class="row">
		<div class="col-sm-4">
			<div class="alert alert-success" role="alert">
				<a href="{{ path('o_fort_prerentree_struct_modify', {'id': struct.id }) }}">Modifier la structure</a>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="alert alert-success" role="alert">
				<a href="{{ path('o_fort_prerentree_structure') }}">Retour à la liste</a>
			</div>
		</div>
		<h3>Détails</h3>
	</div>
	<div class="row">
		<table class="table table-striped">
			<tr>
				<td>Version</td>
				<td>{{struct.version}}</td>
			</tr>
			<tr>
				<td>Rentrée</td>
				<td>{{struct.rentree}}</td>
			</tr>
			<tr>
				<td>Date de création</td>
				<td>{{struct.dateCreation|date('d-m-Y')}}</td>
			</tr>
		</table>
	</div>
	<div>
		<h3>Niveaux de formation</h3>
		<ul class="list-group">
			{% for niFor in struct.niveauxFormation %}
				<li  class="list-group-item">
					<strong>{{loop.index}}
						<a href="{{ path('o_fort_prerentree_niveauFormation_view', {'id': niFor.id}) }}">{{ niFor.nom }}</a>  &nbsp
					</strong>
				</li>
			{% endfor %}
		</ul>
	</div>
	
	<div class="row">
		<a href=" {{ path('o_fort_prerentree_niveauFormation_addForStructure', {'idStructure': struct.id}) }}"> Ajouter un niveau de formation à la structure</a>
	</div>
{% endblock %}