{% extends "OFortPrerentreeBundle::layout.html.twig" %} {% block title %} Liste des structures - {{ parent() }} {% endblock %} {% block ofortprerentree_body %}
<h3>{{filiere.nom|e}}({{filiere.nomCourt|e}}, filière)
<a href="{{ path('o_fort_prerentree_filiere_modify', {'id':filiere.id}) }}">
	<i class="material-icons">mode_edit</i>
</a>
</h3>
<div class="row">

	<div>
		<h4>Divisions</h4>
		<table class="table table-condensed">
			<tbody>
				{% for div in filiere.divisions %}
					<tr>
						<td>
							<a href="{{ path('o_fort_prerentree_division_view', {'id': div.id}) }}" title="{{ div.nom }}">{{div.nomCourt}}</a>
						</td>
						<td>
							<a href="{{ path('o_fort_prerentree_division_modify', { 'id' : div.id}) }}">Modifier</a>
						</td>
						<td>Supprimer</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div>
		<a href=" {{ path('o_fort_prerentree_niveau_add', {'idFiliere': filiere.id}) }}"> Ajouter un niveau à la filiere</a>
	</div>
</div>
{% endblock %}