<div id="divisions">
		<table class="table table-striped ">
			<thead>
				<tr>
					<th class="small">N°</th>
					<th></th>
					<th></th>
				<th>Intitulé</td>

			</tr>
		</thead>
		<tbody>
			{% for div in maquette.divisions %}
				<tr>
					<td class="small">{{loop.index}}</td>
					<td class="small">
						<div class="dropdown">
							<button class="btn btn-sm btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Action
							</button>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								<a class="dropdown-item" href="#">Supprimer</a>
								<a class="dropdown-item" href="{{ path('o_fort_prerentree_division_modify', {id: div.id}) }}">Modifier</a>
								<a class="dropdown-item" href="{{ path('o_fort_prerentree_division_view', {'id': div.id}) }}">Voir</a>
							</div>
						</div>
					</td>
					<td>{{ div.nomCourt }}</td>
					<td>
						<a href="{{ path('o_fort_prerentree_division_view', {'id': div.id}) }}">
							{{ div.nom }}
						</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>