{% extends "OFortPrerentreeBundle::layout.html.twig" %}
{% block title %}
	Liste des structures - {{ parent() }}
{% endblock %}
		{% block head %}{{maquette.nom}}<br> <span class="small"> Maquette </span>{% endblock %}

		{% block ofortprerentree_body %}

			<div class="row">
				<div class="col-sm-6">
					<div class="alert alert-success" role="alert">
						<a href="{{ path('o_fort_prerentree_maquette_modify', {'id': maquette.id }) }}">Modifier la maquette</a>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="alert alert-success" role="alert">
						<a href="{{ path('o_fort_prerentree_maquette') }}">Retour à la liste</a>
					</div>
				</div>
				<h3>Détail de la maquette</h3>
			</div>

			<h5>Total des besoins pour la maquette :</h5>
			<ul class="list-unstyled">
				<li>Classe simple : {{ maquette.besoinSimple + maquette.besoinCoanimation }} heures</li>
				<li>Classe dédoulée : {{ maquette.besoinDedouble + maquette.besoinCoanimation }} heures</li>
				<li>Classe détriplée : {{ maquette.besoinDetriple + maquette.besoinCoanimation }} heures</li>
				<li>Dont durée coanimée : {{ maquette.besoinCoanimation }} heures</li>
			</ul>
			
			<h3>Enseignements constituant la maquette</h3>
			<p>Durées en heures</p>

			<div>
				<a href=" {{ path('o_fort_prerentree_enseignement_add', {'idMaquette': maquette.id}) }} ">
					Ajouter un enseignement à la maquette {{maquette.id }}
				</a>
			</div>
{# liste des enseignement de la maquettes #}
{{ include("OFortPrerentreeBundle:Maquettes:listeEnseignements.html.twig")}}

<h3>Divisions utilisant la maquette</h3>
{# liste des division qui utilisent la maquette #}
{{ include("OFortPrerentreeBundle:Maquettes:listeDivisions.html.twig")}}
	
	<div class="row">
		<a href=" {{ path('o_fort_prerentree_enseignement_add', {'idMaquette': maquette.id}) }} "> Ajouter un enseignement à la maquette {{maquette.id }}</a>
	</div>
	
	<div class="row">
		
	</div>
{% endblock %}