{% extends "OFortPrerentreeBundle::layout.html.twig" %} {% block title %} Liste des structures - {{ parent() }} {% endblock %}
{% block head %}{{division.nom|e}} <br><span class="small">Division</span> {% endblock %}
{% block ofortprerentree_body %}
    <p>
      <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{{ path('o_fort_prerentree_struct', {'id' : division.niveauFormation.structure.id}) }}">
              {{ division.niveauFormation.structure.nom|e }}
            </a>
          </li>
          <li class="breadcrumb-item">
            <a href="{{ path('o_fort_prerentree_niveauFormation_view', {'id' : division.niveauFormation.id}) }}">
              {{ division.niveauFormation.nom|e }}
            </a>
          </li>
          <li class="breadcrumb-item">{{ division.nomCourt}}</li>
        </ol>
      </nav>
    </p>
    {# Entete de description de la division #}
    <div id="details" class="row">
      <div class="col-lg-3">
        <h4>{{ division.nomCourt }}<br><span class="small">Détails de la division</span></h4>
        <p><a href="{{ path('o_fort_prerentree_division_modify', {id: division.id}) }}">Modifier</a></p>
      </div>
      <div class="col-lg-9">
        <table id="parametres" class="table table-responsive table-condensed table-striped">
          <tr>
            <td>Nom</td>
            <td>{{division.nom|e}}</td>
          </tr>
          <tr>
            <td>Maquette</td>
            <td>{% if division.maquette %} {{division.maquette.nom}} {% endif %}</td>
          </tr>
          <tr>
            <td>Classe dédoublée</td>
            {% if division.classeDedoublee %}
              <td>Oui</td>
            {% else %}
              <td>Non</td>
            {% endif %}
          </tr>
          <tr>
            <td>Classe détriplée</td>
            {% if division.classeDetriplee %}
              <td>Oui</td>
            {% else %}
              <td>Non</td>
            {% endif %}
          </tr>
        </table>
      </div>
    </div>

    {# Enseignements provenant d'une maquette #}
{{ include ("OFortPrerentreeBundle:Divisions:listeEnseignementDivision.html.twig")}}

    {# Enseignements de la division hors maquette #}
{{ include ("OFortPrerentreeBundle:Divisions:EnseignementsBaretteDivision.html.twig") }}

{% endblock %}